<div id="main-menu" class="main-menu">
  {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
  <ul>
    {% for item in mainmenu %}
    <li class="{% if item.url == page.url %}active{% endif %}">
      {%if item.target == "blank" %}
      <a href="{{ item.url | relative_url }}" target="_blank">{{ item.name }}</a>
      {% endif %}
      {%if item.target == "self" %}
      <a href="{{ item.url | relative_url }}" target="_self">{{ item.name }}</a>
      {% endif %}
    </li>
    {% endfor %}
    <!--<div class="call-box-bottom">
      <a href="{{ site.data.links.client_portal_link }}" target="_blank" class="button">Client Portal</a>
    </div>
    <div>&nbsp;&nbsp;&nbsp;</div>-->
  </ul>
</div>
